version: 2

jobs:
  build:
    macos:
      xcode: "10.2.0"

    steps:
      - checkout

      - run:
          name: Mac Info
          command: system_profiler SPSoftwareDataType

      - run:
          name: Simulator Info
          command: instruments -s devices

      - run:
          name: Run iOS tests
          command: make test-ios

      - run:
          name: Run macOS tests
          command: make test-macos

      - run:
          name: Run Swift tests
          command: make test-swift
